#container {
    border: 3px solid skyblue;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5% 5% 5% 5%;
}

.text {
    font-weight: 700;
    text-align: center;
    margin-bottom: 8%;
}

#btn {
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;   

}