<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>방문자 확인 카메라</title>
        <link rel="stylesheet" href="../static/camera.css" type="text/css" media="all" /> 
    </head>
    <body>
        <div id = 'container'>
            <p class='text'>카메라를 키면 방문자 확인을 시작합니다.</p>
            <!-- <div class='video'>
                <video id="myVideo" style="border: 1px solid #ddd;"></video>
            </div> -->

            <form id="upload" action="/predict" method="POST" enctype="multipart/form-data" style='text-align:center', 'border-top-right-radius: 5px'>
                <!-- <script>
                    var myVideoStream = document.getElementById('myVideo')     // make it a global variable
                    var myStoredInterval = 0

                    function getVideo(){
                    navigator.getMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
                    navigator.getMedia({video: true, audio: false},
                    
                    function(stream) {
                        myVideoStream.srcObject = stream   
                        myVideoStream.play();
                    }, 
                    function(error) {
                        alert('webcam not working');
                    });
                    }

                    getVideo();
                </script> -->
                <div id='btndiv'>
                    <button id="btn">Camera On</button>
                </div>
            </form>
        </div>

    </body>
</html>